<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="/img/around-world.png"
        alt="around world logo"
        class="rounded mx-auto d-block"
        width="400"
      />
      <div class="display-4">
        <h2>Mari Berjelajah Bersama Kami</h2>
        <!-- Ini adalah elemen p dengan kelas CSS untuk kontainer persegi dan pemformatan lainnya -->
        <p class="lead fw-light">
          Tempatnya inovasi teknologi untuk mewujudkan masa depan yang terang.
          Kami adalah perusahaan yang berkomitmen untuk merintis jalan menuju
          kemajuan dengan satu kode, satu solusi, dan satu visi. kami percaya
          bahwa setiap baris kode yang kita tulis adalah langkah kita menuju
          masa depan yang lebih baik, lebih cerdas, dan lebih terhubung.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
