<div class="container">
  <!-- Ini adalah elemen h1 yang digunakan untuk menampilkan judul halaman selamat datang -->
  <h1 class="text-center text-m-start">
    Selamat datang di Website around world.
  </h1>
  <br />

  <!-- Ini adalah elemen h3 yang digunakan untuk menampilkan pesan atau slogan -->
  <h3 class="text-center text-m-start">
    Masa Depan yang Terang Dimulai dengan Satu Kode.
  </h3>
</div>
